<% if @store.user == current_user %>
<div class="store-banner d-flex align-items-center mb-3">
  <div class="container d-flex justify-content-center">
    <h2><i class="fa-solid fa-store mr-3"></i></h2>
     
    <h2>My store</h2>
  </div>
</div>

<div class="d-flex align-items-center" style="height: 100%; flex-direction: column;">
<div class="container d-flex flex-column my-5">
    <h2 class="text-center"><%= @store.name %></h2>
    <div class="d-flex align-items-center my-3">
      <span class="text-center"><em class="text-muted"><%= "You dont have create any products yet. Start now!" if @store.products.empty? %></em></span>
    </div>
      <!--  <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#new_cate_modal"> Add a product
      </button> -->
</div>

<div class="btn-container d-flex flex-column">
  <%= link_to "Add Product", new_store_product_path(@store), class: "btn-flat my-3" %>
  <%= link_to "Show products",store_products_path(@store), class: "btn-ghost my-3" %>
      <%#= f.number_field :user_id, id: :store_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  <%= link_to "Delete this store", store_path(@store), class: "btn-danger my-3", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this store?" } %>
  <%= render "products/modal", store: @store, product: @product %>
</div>

</div>

<% else %>

<div class="card-trip ">
  <img src="https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @store.name %></h2>
      <p><%#= @store.reviews %></p>
    </div>
   <h1 class="fa-regular fa-heart m-2">рџ‘ЁрџЏѕвЂЌрџ’»</h1>
    <img src="https://scontent-dus1-1.xx.fbcdn.net/v/t1.6435-1/51288995_1218000288348043_804808650009870336_n.jpg?stp=dst-jpg_p320x320&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=jd1VP-LRibIAX8_qsJS&tn=rTxgKrhWPRlptM74&_nc_ht=scontent-dus1-1.xx&oh=00_AT_qIRAKsY6ybgGlY3PK4Hrc_7mDK2jO9Dw04OCz05XJ-A&oe=63186D04" class="card-trip-user avatar-bordered" />
  </div>
</div>
  </div>
</div>

<div class="d-flex align-items-center" style="height: 100%; flex-direction: column;">
  <div class="container d-flex flex-column my-5">
      <h2 class="text-center"><%= @store.name %></h2>
      <div class="d-flex align-items-center my-3">
        <span class="text-center"><em class="text-muted"><%= "You dont have create any products yet. Start now!" if @store.products.empty? %></em></span>
      </div>
        <!--  <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#new_cate_modal"> Add a product
        </button> -->
  </div>

  <div class="btn-container d-flex flex-column">
    
    <%= link_to "Show products",store_products_path(@store), class: "btn-ghost my-3" %>
        <%#= f.number_field :user_id, id: :store_user_id, class:"form-control", value: current_user.id, type: :hidden %>
    
    <%= render "products/modal", store: @store, product: @product %>
  </div>

</div>

<% end %>

