<nav class="navbar" id="navbar">
    <div class="container-fluid">
      <%= link_to root_path do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
      <%= link_to root_path do %>
        <i class="fa-solid fa-map-location"></i>
      <% end %>
      <%= link_to root_path do %>
        <i class="navbar-heart fa-solid fa-heart"></i>
      <% end %>
      <div class="dropup-center dropup">
        <button class="btn-navbar dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-user"></i>
        </button>
        <ul class="dropdown-menu">
          <%# <li><%= link_to "My Store", store_path, class: "dropdown-item" %></li>
          <li><%= link_to "My dashboard", dashboard_path, class: "dropdown-item" %></li>
          <li><%= link_to "My favourites", dashboard_path, class: "dropdown-item" %></li>
          <li><%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link", class: "btn btn-sm" %></li>
        </ul>
      </div>
    </div>
  </nav>
