<div class="d-flex flex-column" style="height: 100vh;">
  <div class="index-container flex-grow-1 ">

    <div class="banner-index d-flex justify-content-center align-items-center">
        <h1 class='title'>Discount</h1>
        <img id="logo" src=<%= asset_path('logo-white.png') %> alt="discount-discover">
        <h1 class='title'>Discover</h1>
    </div>


   <div class="discounts-amount d-flex justify-content-around mt-3 m-2">
      <%= link_to map_path(:discount => 15), style:"text-decoration: none;" do %>
        <div class="discount-item d-flex align-items-center justify-content-center">
          <h5 class="discount-amount m-0"><%=15%>%</h5>
        </div>
      <% end %>
    <%= link_to map_path(:discount => 30), style:"text-decoration: none;" do %>
        <div class="discount-item d-flex align-items-center justify-content-center">
          <h5 class="discount-amount m-0"><%=30%>%</h5>
        </div>
      <% end %>
    <%= link_to map_path(:discount => 40), style:"text-decoration: none;" do %>
        <div class="discount-item d-flex align-items-center justify-content-center">
          <h5 class="discount-amount m-0"><%=40%>%</h5>
        </div>
      <% end %>
    <%= link_to map_path(:discount => 50), style:"text-decoration: none;" do %>
        <div class="discount-item d-flex align-items-center justify-content-center">
          <h5 class="discount-amount m-0"><%=50%>%</h5>
        </div>
      <% end %>
  </div>
  <div class="d-flex justify-content-center mt-4 mb-4 sticky-top">
    <%= render "pages/searchindex" %>
  </div>

  <h3 class="ms-4 me-0 my-2 best-stores">Best rated stores</h3>

<div class="card-container px-4">
      <%@stores.first(8).each do |store| %>
        <%= render partial:'cardindex', locals: {store: store} %>
      <% end %>
    </div>

  <div class="footer">
  </div>

  </div>
</div>
