<div class="d-flex flex-column" style="height: 100vh;">
  <div class="index-container flex-grow-1 ">

    <h1 class="pt-2 pt-5 pb-4 title-dd m-0">DISCOUNT DISCOVER</h1>
    <div class="discounts-amount d-flex justify-content-around my-5">
      <%number = 10%>
      <% (1..4).each do %>
        <div class="discount-item d-flex align-items-center justify-content-center">
          <h5 class="discount-amount m-0"><%=number%>%</h5>
          <% number += 10 %>
        </div>
      <% end %>
    </div>
    <div class="map-container mb-4" data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <h3 class="ms-4 me-0 my-0 best-stores">Best rated stores</h3>
    <div class="cards-container overflow-auto d-flex mt-3 pt-4 pb-2">
      <%@stores.each do |store| %>
        <%= link_to store_path(store), class: "card-link" do %>
          <div class="store-card pt-3 mx-3">
          <div class="left-right-info d-flex mx-3">
            <div class="left-info me-2 d-flex align-items-center">
              <div>
                <h4 class="m-0"><strong><%= store.name %></strong></h4>
                <h5 class="m-0"><strong>1,5 km</strong></h5>
              </div>
            </div>
            <div class="right-info">
              <%= cl_image_tag store.photo.key, height: 100, class: "store-image" if store.photo.attached?%>
            </div>
          </div>
            <div class="card-bottom d-flex align-items-center justify-content-between py-2 px-4">
              <h5 class="m-0">Discounts up to...</h5>
              <div class="">
                <div class="card-discount-item d-flex flex-column align-items-center justify-content-center">
                  <% products = store.products.order(:discount) %>
                  <p class="discount-amount m-0"><%=products.last.discount%>%</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
