<div class="store-banner d-flex align-items-center mb-3">
   <%= link_to store_path(@store) do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  <div class="container d-flex justify-content-center">
    <h2>Reviews</h2>
  </div>
</div>

<div class="container">
<div>
  <!-- <h3>Create Review</h3> -->
</div>
  <%= simple_form_for [@store, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
